*.sh text eol=lf

*.blend binary -whitespace
*.7z binary -whitespace
*.jpg binary -whitespace
*.jpeg binary -whitespace
*.png binary -whitespace
*.dxf -diff -whitespace
*.pdf binary -whitespace
*.step -diff -whitespace
*.stp -diff -whitespace
*.stl -diff -whitespace
cad/references/**/*.html -diff -whitespace
