<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="TSL25911数字环境光传感器，具有600M:1宽动态范围，可检测高达 88000Lux 的光强，I2C接口控制，低功耗，适合在各种光照条件下工作。">
    <meta name="keywords" content="TSL25911数字环境光传感器 高灵敏度 宽动态范围 I2C接口">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache"/>
    <title>TSL25911数字环境光传感器 高灵敏度 宽动态范围 I2C接口</title>
    <link rel="stylesheet" type="text/css" href="/static/css/cloudzoom.css?v=20260615">
    <link rel="stylesheet" type="text/css" href="/static/css/details-page.css?v=20260615">
    <link rel="stylesheet" type="text/css" href="/static/css/detail-info.css?v=20260615">
    <link rel="stylesheet" type="text/css" href="/static/css/detail-info1.css?v=20260615">
    <link rel="stylesheet" type="text/css" href="/static/css/goods.css?v=20260615">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/wangEditor.min.css">-->
    <script type="text/javascript" src="/static/js/require.min.js?v=20260615" id="require" data="goods"></script>
    <script type="text/javascript" src="/static/js/goods.js?v=20260615"></script>
	<script>
		$(function(){
		    $('.detail_box img').lazyload({effect: 'show',event: 'scroll',threshold: 300,skip_invisible: false,failurelimit: 5});
		    if (!is_mobile_device()) {
                CloudZoom.quickStart();
            }
		})
	</script>
</head>
<body>
	<div id="app" v-cloak>
		<record-visit></record-visit>
		<message ref="msg"></message>
		<header-nav ref="header_nav"></header-nav>

		<div class="nav_con clearfix">
			<div class="nav_box">
				<h2 class="logo fl"><a href="/">微雪电子</a></h2>
				<nav-list></nav-list>
				<search></search>
			</div>
		</div>

        

		<input type="hidden" id="goods_id" value="967">
        <div class="main-goods-bg">
            <div class="main-goods-box">
                <div class="goods_detail_con clearfix">
                    <div class="goods_detail_pic fl">
                        <div class="big_image">
                            
                            <div id="goods-photo">
                                <a class="example-image-link">
                                    <img now-index="1" alt="TSL25911数字环境光传感器 高灵敏度 宽动态范围 I2C接口" src="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1.jpg" class="cloudzoom"
                                        data-cloudzoom="animationTime:0,zoomWidth:600,zoomHeight:450,startMagnification:3,variableMagnification:false">
                                </a>
                                
                            </div>
                        </div>
                        <div class="goods_slide">
                            <ul class="clearfix">
                                
                                <li>
                                    <img class="cloudzoom-gallery" data-cloudzoom="useZoom:'.cloudzoom',galleryHoverDelay:0,image:'/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1.jpg'"
                                        index="1" src="https://www.waveshare.net/thumb/small/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1.jpg" src-big="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1.jpg">
                                </li>
                                
                                <li>
                                    <img class="cloudzoom-gallery" data-cloudzoom="useZoom:'.cloudzoom',galleryHoverDelay:0,image:'/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-2.jpg'"
                                        index="2" src="https://www.waveshare.net/thumb/small/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-2.jpg" src-big="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-2.jpg">
                                </li>
                                
                                <li>
                                    <img class="cloudzoom-gallery" data-cloudzoom="useZoom:'.cloudzoom',galleryHoverDelay:0,image:'/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-3.jpg'"
                                        index="3" src="https://www.waveshare.net/thumb/small/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-3.jpg" src-big="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-3.jpg">
                                </li>
                                
                                <li>
                                    <img class="cloudzoom-gallery" data-cloudzoom="useZoom:'.cloudzoom',galleryHoverDelay:0,image:'/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-4.jpg'"
                                        index="4" src="https://www.waveshare.net/thumb/small/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-4.jpg" src-big="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-4.jpg">
                                </li>
                                
                                <li>
                                    <img class="cloudzoom-gallery" data-cloudzoom="useZoom:'.cloudzoom',galleryHoverDelay:0,image:'/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-5.jpg'"
                                        index="5" src="https://www.waveshare.net/thumb/small/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-5.jpg" src-big="https://www.waveshare.net/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-5.jpg">
                                </li>
                                
                            </ul>
                        </div>
                        <!-- <div class="goods_prev"><a href="javascript:;">&lt;</a></div>
                        <div class="goods_next"><a href="javascript:;">&gt;</a></div> -->
                    </div>
                    <div class="goods_detail_list fr">
                        <h1>TSL25911数字环境光传感器 高灵敏度 宽动态范围 I2C接口</h1>
                        <div class="goods_desc">高灵敏度，宽动态范围，I2C接口通信</div>

                        
                        <div class="price-box">
                            

                            
                                <div class="price_bar clearfix">
                                    <div class="goods-detail-line clearfix">
                                        <div class="line-left">价格</div>
                                        <div class="line-right sale-price" v-html="tax_price(sale_price)"></div>
                                    </div>
                                    <div class="goods-detail-line clearfix" v-if="orig_price > one_sale_price"> 
                                        <div class="line-left">原价</div>
                                        <div class="line-right origin-price" v-html="tax_price(orig_price)"></div>
                                    </div>
                                </div>
                            
                        </div>
                        
                        

                        <div class="goods-base clearfix">
                            <div class="goods-detail-line clearfix">
                                <div class="line-left">型号</div>
                                <div class="line-right">TSL25911 Light Sensor</div>
                            </div>
                            <div class="goods-detail-line clearfix">
                                <div class="line-left">SKU</div>
                                <div class="line-right">17146</div>
                            </div>
                            
                            <div class="goods-detail-line clearfix">
                                <div class="line-left">品牌</div>
                                <div class="line-right">Waveshare</div>
                            </div>
                            
                        </div>

                        <em class="hengxian ml20"></em>
                        <div class="goods-tag">
                            
                        </div>

                        
                            
                            <div class="goods-detail-line price_choose mobile-detail clearfix" v-if="show_price_tax_box()">
                                <div class="line-left">价格参考</div>
                                <div class="line-right">

                                    <div class="cho-tax">
                                        <div class="now-tax-box">
                                            <div class="now-tax-tips" v-html="get_choose_tax_tips()"></div>
                                            <div class="cho-tax-icon"></div>
                                        </div>

                                        <ul>
                                            <li :class="show_tax.bill_code == tax.bill_code ? 'active' : ''" @click="show_tax=tax" v-for="tax in show_tax_list">
                                                {{tax.tax_name}}
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="agent-price-box">
                                        <table class="agent-price-table">
                                            <tr>
                                                <td class="agent-price-title">数量</td>
                                                <td v-for="price in prices"><em>{{price.num}}+</em></td>
                                            </tr>
                                            <tr>
                                                <td class="agent-price-title">价格</td>
                                                
                                                <td v-for="price in prices" v-html="tax_price(price.price)"></td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="goods-detail-line number_choose mobile-detail clearfix">
                                <div class="line-left">数量</div>
                                <div class="line-right">
                                    <div class="num_add clearfix">
                                        <a href="javascript:;" class="minus fl" @click="down">-</a>
                                        <input type="text" class="num_show fl" v-model="goods_num">
                                        <a href="javascript:;" class="add fl" @click="up">+</a>
                                    </div>
                                </div>
                            </div>

                            <div class="goods-detail-line mobile-operate clearfix">
                                <div class="line-left">&nbsp;</div>
                                <div class="line-right">
                                    <div class="operate_btn">
                                        
                                        <a href="javascript:;" class="new-add-cart-btn" @click="add_cart">加入购物车</a>
                                        <a href="javascript:;" class="new-buy-now" @click="buy_now">立即购买</a>
                                        
                                        <a href="javascript:;" @click="do_like" :class="[is_like ? 'goods_like like' : 'goods_like']"> 收藏</a>
                                    </div>
                                    <p class="seven-day">7天无理由退换</p>
                                </div>
                            </div>
                            

                            
                            
                            <div class="type_select">
                                <label>环境光传感器</label>
                                <div class="type_goods_wrap">
                                    <div class="type_goods">
                                        
                                        
                                            
                                            <span class="type_goods_spec active" title="TSL25911数字环境光传感器 高灵敏度 宽动态范围 I2C接口" >
                                                <img src="/thumb/middle/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1.jpg">
                                                <span>TSL25911</span>
                                            </span>
                                            
                                        
                                        
                                    </div>
                                    <div class="type_goods_more hide">点击查看更多</div>
                                </div>
                            </div>
                            
                            
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="detail_box_bg">
            

            <div class="detail_box">
                <div class="detail_top">
                    <div class="detail_tab">
                        <ul>
                            <li class="active">产品详情</li>
                            
                            <li>产品资料</li>
                            
                            <li>配置清单</li>
                            
                            <li>保修&售后服务</li>
                            
                        </ul>
                        
                        <div class="detail-operate">
                            <a href="javascript:;" class="new-add-cart-btn" @click="add_cart">
                                <span>加入购物车</span>
                            </a>
                            <a href="javascript:;" class="new-buy-now" @click="buy_now">
                                立即购买
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="detail_content">
                    <div class="w-e-text-container">
                        <div class="w-e-text">
                            <div class="content_tab clearfix">
                                <span class="note">
	TSL25911数字环境光传感器
</span>
<div class="devDesc">
	<h3>
		产品简介
	</h3>
	<p>
		<strong>
			【一句话自我介绍】
		</strong>
		<br>
		我是一款高灵敏度的数字环境光传感器，具有600M:1宽动态范围，可检测高达 88000Lux 的光强，I2C接口控制，低功耗，适合在各种光照条件下工作。
	</p>
	<p>
		<strong>
			【我的特点】
		</strong>
	</p>
	<ul>
		<li>
			采用TSL25911FN，可测量红外光及人类可见光 (相比TSL2561测量范围更广)
		</li>
		<li>
			内置ADC，通过I2C接口可直接输出光强度，不易受噪声干扰
		</li>
		<li>
			灵敏度高达188uLux，动态范围宽达600M:1
		</li>
		<li>
			内置红外光敏二极管，即使在红外噪声干扰大的环境中也能较精确的测量
		</li>
		<li>
			具有中断输出，可编程上下限阈值
		</li>
		<li>
			板载电平转换电路，可兼容3.3V/5V的工作电平
		</li>
		<li>
			提供完善的配套资料手册(Raspberry/Arduino/STM32示例程序和用户手册等)
		</li>
	</ul>
	<strong>
		【我的参数】
	</strong>
	<ul>
		<li>
			光传感器：TSL25911FN
		</li>
		<li>
			通信接口：I2C (固定地址：0x29)
		</li>
		<li>
			有效量程：0~88000Lux
		</li>
		<li>
			工作电压：3.3V/5V
		</li>
		<li>
			产品尺寸：27mm × 20mm
		</li>
		<li>
			过孔直径：2.0mm
		</li>
	</ul>
	<!--<strong>【我的用途】</strong><br />
	<ul>
	<li>路灯控制，安全照明，阳光收集和机器视觉等</li>
	</ul>-->
	<strong>
		【接口说明】
	</strong>
	<br>
	下面以接入MCU为例：
	<ul>
		<li>
			VCC：接3.3V/ 5V
		</li>
		<li>
			GND：接GND
		</li>
		<li>
			SDA：接MCU.I2C数据线
		</li>
		<li>
			SCL：接MCU.I2C时钟线
		</li>
		<li>
			INT ：中断输出，可不接
		</li>
	</ul>
</div>
<div class="devDesc">
	<h3>
		使用示例
	</h3>
	<div class="Responsive-width">
		<img data-original="/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-5_960.jpg">
	</div>

	<h3>
		产品尺寸
	</h3>
	<div class="Responsive-width">
		<img data-original="/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-size_960.jpg">
	</div>
</div>
                            </div>
                            
                            <div class="content_tab clearfix hide">
                                <div class="devDesc">
	<h3 id="product-wiki">
		产品资料
	</h3>
	<p>
		资料包括：
	</p>
	<ul>
		<li>
			用户手册
		</li>
		<li>
			电路原理图
		</li>
		<li>
			示例程序
		</li>
		<li>
			开发软件
		</li>
	</ul>
	<p style="padding-top:5px;">
		<span class="note">
			下载路径：
		</span>
		<a href="http://www.waveshare.net/wiki/TSL25911_Light_Sensor" target="_blank"
		title="www.waveshare.net/wiki/TSL25911_Light_Sensor">
			www.waveshare.net/wiki/TSL25911_Light_Sensor
		</a>
		<br>
	</p>
</div>
                            </div>
                            
                            <div class="content_tab clearfix hide">
                                <div class="devDesc">
<h3>配置清单</h3>
<ol>
  <li>TSL25911 Light Sensor × 1</li>

  <li>PH2.0 5PIN连接线 × 1</li>
</ol>
<div class="imgTextWrap">
    <div>1<a href="/photo/accBoard/Light-Sensor/Light-Sensor-1.jpg"><img src="/photo/accBoard/TSL25911-Light-Sensor/TSL25911-Light-Sensor-1_93.jpg"></a></div>
    <div>2<a href="/photo/accessories/PH2.0-5Pin-Wire-neutral.jpg" target="_blank"><img src="/photo/accessories/PH2.0-5Pin-Wire-neutral_93.jpg"></a></div>
  </div>
  <div class="sep0px"></div>
</div>
<div class="sep0px"></div>
                            </div>
                            
                            <div class="content_tab clearfix hide">
                                <div class="detailpage2" style="width: 100%">
                <h2 class="guarantee-blue-tt">保修服务（保修1年）</h2>
                <div class="dt-height20px"></div>
                <div class="guarantee-blue">
                    <img style="float: left" src="/photo/common/free.png" />
                    <h5>免费保修</h5>
                    <br/>
                    <p class="guarantee-words">保修期内，正常使用下产生的质量问题，比如按键不灵、开关不响应、LED亮度不佳等。<br/>
注意：核心器件不属于免费保修范围（包括但不限于CPU、FLASH、 SDRAM 等芯片）。</p>
                    <br>
                    <hr>
                    <br>
                    <img style="float: left" src="/photo/common/charge.png" />
                    <h5>收费保修</h5>
                    <br/>
                    <p class="guarantee-words">非正常使用情况下产生的质量问题，视损坏程度收取维修费，包括但不限于：<br/>
 •  供错电压、磕碰、浸水、杂异物进入板内，导致功能损坏<br/>
 •  用户自行拆卸或焊接零件，修改电路板，导致功能损坏<br/>
 •  未按用户手册操作，比如供电状态下强行插拔等，导致功能损坏</p>
                    <br>
                    <hr>
                    <br>
                    <img style="float: left" src="/photo/common/info.png" />
                    <h5>特殊说明</h5>
                    <br/>
                    <p class="guarantee-words">若产品含有其他配件，配件的保修以其自身保修条款为准，包括但不限于：<br/>
 •  比如开发板中包含LCD配件，那么，它的保修参照对应LCD的保修条款执行<br/>
                      • 树莓派/NVIDIA/ST等原装进口产品，因国外返修费用高昂，无法保修</p>
                    <br>
                </div>
                
                <h2 class="guarantee-blue-tt">售后服务</h2>
                <div class="dt-height20px"></div>
                <div class="guarantee-black">
                    <p class="guarantee-words">• 售后服务仅限产品本身，不包括教导相关软件使用等（配套资料已有说明书及软件使用教程)<br/>
• 不负责上门服务<br/><br/>
• 可通过以下方式联系我们：<a class="dp-link" target="_blank" href="/help_center/contact.htm">点击查看</a></p>
                </div>
                <br/><br/><br/>
            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<footer-link class="goods_detail_style"></footer-link>
        <div class="goods_detail_space hide">&nbsp;</div>
        <div class="goods_detail_footer hide">
            <div class="goods_detail_footer_icon">
                <div class="opt_icon">
                    <a href="/" class="home">首页</a>
                    <a :href="qq_service" class="service">在线客服</a>
                    <a href="/cart.html" class="cart">购物车({{cart_count}})</a>
                </div>
                <div class="opt_btn">
                    <!-- <a href="javascript:;" class="fav_goods" :class="[is_like ? 'active' : '']" @click="do_like"></a>
                    <a href="javascript:;" class="add_cart" @click="add_cart">加入购物车</a> -->
                    <a href="javascript:;" class="new-add-cart-btn" @click="add_cart">&nbsp;</a>
                    <a href="javascript:;" class="new-buy-now" @click="buy_now">立即购买</a>
                </div>
            </div>
        </div>
	</div>

    <div class="big-box">
        <div class="big-box-bg">
            <div class="big-box-content">
                <img src="https://www.waveshare.net/photo/LCD/0.91inch-OLED-Module/0.91inch-OLED-Module-1.jpg" class="big-box-image">
            </div>
        </div>
    </div>
	<script type="text/javascript" src="/static/js/detail.js?v=20260615"></script>
	<script>
		if(browser.name == 'ie') {
			var html = '<embed src="' + $("#my-video source").attr("src") +
					   '" controls loop="loop" width="480" height="360">' +
					   '<i class="exit-video-btn"></i>';
			$("#goods-video").html(html);
		}
	</script>
	<div class="hide">
		<script type="text/javascript" src="https://js.users.51.la/1712110.js" async></script>
	</div>
</body>
</html>